    *{
        margin: 0px;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif    ;
      }
      .header{
        height: 6rem;
        display: grid;
        grid-template-columns: auto auto auto;
      }
      .header .logo {
        font-size: 20px;
        padding-top: 1.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif    ;
        padding-left: 4rem;
        font-weight: 600;
        color: #1e1b1b8a;
      }
      .header .logo span{
        font-weight: 300;
      }
      .header ul{
        padding-top: 1.5rem;
      }
      .header .menu ul li{
        display: inline-block;
        font-size: 1rem;
        padding-right: 20px;
        color: #1e1b1b8a;
        font-family: Verdana, Geneva, Tahoma, sans-serif    ;
      }
      .header .menu .active{
        color: blue!important;
      }
      .header .email img{
        height: auto;
        width: 2rem;
        padding-top: 1.5rem;
      }
      .middle-section{
        display: grid;
        grid-template-columns: auto auto;
        padding-top: 7rem;
        padding-bottom: 2rem;
      }
      .middle-section .content{
        padding-left: 170px;
      }
      .red{
        background: #ed12a0;
        border: none!important;
        padding: 15px 35px;
        border-radius: 10px;
      }
      .blue{
        background: #12d3ed;
        border: none!important;
        padding: 15px 35px;
        border-radius: 10px;
      }
      .footer{
        height: 3rem;
        background: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      } 